
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*,*::after,*::before{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body,html{
  height: 100%;
}
body{
  background: #201e2f;
  font-family: "Itim", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
h1,h2, h3, h4, h5,h6{
  margin: 0;
  line-height: 1em;
}

.top_area{
  width: 80%;
  max-width:350px;
}
.second_part{
  background: #2d3436;
}
.logo, .second_part, .bottom{
  padding:10px;
  border-radius: 8px;
  margin-bottom: 5px;
}
.logo{
  background-color:#26de81;
  color: #262626;
  padding: 7px;
  text-align: center;
}
label{
  display: block;
  margin-bottom: 3px;
  font-size: 20px;
}
input{
  width: 100%;
  padding: 8px;
 border: 0;
 font-size: 19px;
  font-family: "Itim", cursive; 
  background-color:#34495e;
  border-radius: 13px;
  color: #fff;
}
input:focus{outline: none;}
.people_area{
  margin-top: 10px;
}
.people_area p{
  margin-bottom: 5px;
 font-size: 10px;
}
.inner_people{
  display: flex;
  justify-content: space-between;
}
.inner_people ul{
list-style: none;
 display: flex; 
}
.inner_people ul li{
font-size: 20px;
}
#posative{
   background:#009432;
}
#negative{
  background:#EA2027 ;
}
 #posative , #negative{
height: 30px;
width: 30px;
cursor: pointer;
border-radius: 50%;
text-align: center;
padding-top:1px;
}
#add_people{
 margin: 2px 10px ;
}
.btn{
  background: #B53471;
  border: none;
  color: #fff;
  padding: 4px;
  font-size: 18px;
  border-radius: 11px;
}
.btn:hover{
  background-color: #833471;
  cursor: pointer;
}
/* ! summary    */
.bottom{
  background-color: #121617;
  display: none;
}
.bottom h4{
   font-size: 18px;
} 
.bottom div{
  display: flex;
  justify-content: space-between;
}
.bottom hr{
  border: 1px dashed #fff;
  margin-top: 3px;
}